# Dependencies
node_modules/

# Production build output
dist/

# Local env files
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
.ENV
src/.ENV
src/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
